:root {
  
  --color-white: #ffffff;
  --color-light-bg: #F2F7FF;
  --color-primary-blue: #0B409C;
  --color-dark-blue: #10316B;
  --color-accent-yellow: #FFE867;
  --color-neutral-gray: #dfe3e6;

  --color-primary: var(--color-primary-blue);
  --color-secondary: var(--color-dark-blue);
  --color-accent: var(--color-accent-yellow);

  --color-background: var(--color-light-bg);
  --color-background-soft: #e9f1fd;
  --color-background-mute: #dbe7fb;

  --color-border: var(--color-neutral-gray);
  --color-border-hover: var(--color-primary-blue);

  --color-heading: var(--color-dark-blue);
  --color-text: var(--color-dark-blue);

  --section-gap: 160px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
